<nav class="nav is-fixed" role="navigation">
    <div class="wrapper wrapper-flush">
        <button class="nav-button nav-toggle">
            <span class="icon-menu"></span>
        </button>
        <div class="nav-container">
            <ul class="nav-menu menu">
                {{#foreach navigation}}
                <li class="menu-item" role="presentation">
                    <a href="{{url absolute="true"}}" class="menu-link{{#if current}} nav-current{{/if}}" title="Go to {{label}}">{{label}}</a>
                </li>
                {{/foreach}}
            </ul>
        </div>
        <ul class="list-inline">
            <li>
                <a href="#" target="_blank" class="nav-link" title="Github">
                    <span class="icon-github"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="nav-link" title="Twitter">
                    <span class="icon-twitter"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="nav-link" title="Google Plus">
                    <span class="icon-googleplus"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="nav-link" title="LinkedIn">
                    <span class="icon-linkedin"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="nav-link" title="Xing">
                    <span class="icon-xing"></span>
                </a>
            </li>
            <li>
                <a href="{{@blog.url}}/rss/" class="nav-link" title="Subscribe">
                    <span class="icon-feed"></span>
                </a>
            </li>
        </ul>
        <div id="search" class="nav-button search">
            <input class="search-input" type="text" placeholder="Search...">
            <span class="icon-search-button icon-search"></span>
            <div class="search-results"></div>
        </div>
    </div>
</nav>

