<footer class="site-footer clearfix">
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="middle">Powered by <a href="https://github.com/sandrokeil/ghost-theme-casperion">Casperion Ghost Theme</a> and <a href="http://docker.com">Docker</a></section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
</footer>
