<footer class="site-footer clearfix">
    <span class="copyright"><a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</span>
    <span class="middle">Powered by <a href="https://github.com/sandrokeil/ghost-theme-casperion" title="Casperion Ghost Theme">Casperion Ghost Theme</a></span>
    <span class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></span>
</footer>
