/* ==========================================================================
   9. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 0.5rem 15px;
  border-top: #EBF2F6 1px solid;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75em;
  color: #BBC7CC;
}

.site-footer a {
  color: #BBC7CC;
  text-decoration: none;
  font-weight: bold;
}

.site-footer a:hover {
  color: #50585D;
}

.poweredby {
  display: block;
  width: 30%;
  float: right;
  text-align: right;
}

.copyright {
  display: block;
  width: 30%;
  float: left;
}

.middle {
  display: block;
  width: 35%;
  float: left;
  text-align: center;
}
