/* ==========================================================================
   11. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

  blockquote {
    margin-left: 0;
  }

  .main-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    min-height: 240px;
    height: 60vh;
    padding: 15% 0;
  }

  .scroll-down,
  .home-template .main-header:after { display: none; }

  .archive-template .main-header {
    min-height: 180px;
    padding: 10% 0;
  }

  .blog-logo img {
    padding: 4px 0;
  }

  .page-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .page-description {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  .post {
    font-size: 0.95em
  }

  body:not(.post-template) .post-title {
    font-size: 3.2rem;
  }

  hr {
    margin: 2.4em 0;
  }

  ol, ul {
    padding-left: 2em;
  }

  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  .author-profile {
    padding-bottom: 4rem;
  }

  .author-profile .author-bio {
    font-size: 1.6rem;
  }

  .author-meta span {
    display: block;
    margin: 1.5rem 0;
  }
  .author-profile .author-meta span {
    font-size: 1.6rem;
  }

  .post-head.main-header {
    height:45vh;
  }

  .tag-head.main-header,
  .author-head.main-header {
    height: 30vh;
  }

  .no-cover.post-head.main-header {
    height: 55px;
    padding: 0;
  }

  .no-cover.author-head.main-header {
    padding: 0;
  }

  .read-next {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4rem;
  }

  .read-next p {
    display: none;
  }

  .read-next-story.no-cover + .read-next-story.no-cover {
    border-top: rgba(0,0,100,0.06) 1px solid;
    border-left: none;
  }

  .nav-container {
    width: 70%;
  }
}
