/* ==========================================================================
   8. Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #9EABB3;
  text-align: center;
}

.pagination a {
  color: #9EABB3;
  transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #bfc8cd 1px solid;
  text-decoration: none;
  border-radius: 4px;
  transition: border 0.3s ease;
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px;
}

.newer-posts {
  left: 0;
}

.older-posts:hover,
.newer-posts:hover {
  color: #889093;
  border-color: #98a0a4;
}

.extra-pagination {
  display: none;
  border-bottom: #EBF2F6 1px solid;
}
.extra-pagination:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}
.extra-pagination .pagination {
  width: auto;
}

/* On page2+ make all the headers smaller */
.archive-template .main-header {
  max-height: 30vh;
}

/* On page2+ show extra pagination controls at the top of post list */
.archive-template .extra-pagination {
  display: block;
}
