/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

.post-template .post-header {
  margin-bottom: 3.4rem;
}

.post-template .post-title {
  margin-bottom: 0;
}

.post-template .post-meta {
  margin: 0;
}

.post-template .post-date {
  padding: 0;
  margin: 0;
  border: none;
}

/* Stop elements, such as img wider than the post content, from
  creating horizontal scroll - slight hack due to imperfections
  with browser width % calculations and rounding */
.post-template .content {
  overflow: hidden;
}

/* Tweak the .post wrapper style */
.post-template .post {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
  display: none;
}

/* Keep images centered, and allow images wider than the main text column to break out. */
.post-content img {
  display: block;
  max-width: 126%;
  height: auto;
  padding: 0.6em 0;
  /* Centers an image by (1) pushing its left edge to the
     center of its container and (2) shifting the entire image
     in the opposite direction by half its own width.
     Works for images that are larger than their containers. */
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%); /* for Safari and iOS */
  -ms-transform: translateX(-50%); /* for IE9 */
  transform: translateX(-50%);
}

.footnotes {
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.6em;
}

.footnotes li {
  margin: 0.6rem 0;
}

.footnotes p {
  margin: 0;
}

.footnotes p a:last-child {
  text-decoration: none;
}

/* Break out larger images to be wider than the main text column
   the class is applied with jQuery */
.post-content .full-img {
  width: 126%;
  max-width: none;
  margin: 0 -13%;
}

/* The author credit area after the post */
.post-footer {
  position: relative;
  margin: 6rem 0 0 0;
  padding: 6rem 0 0 0;
  border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
  font-size: 1.8rem;
  margin: 0;
}

.post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.75em;
}

/* list of author links - location / url */
.author-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: #9EABB3;
}

.author-meta a {
  color: #9EABB3;
}
.author-meta a:hover {
  color: #111;
}

/* Create some space to the right for the share links */
.post-footer .author {
  margin-right: 180px;
}

.post-footer h4 a {
  color: #2e2e2e;
  text-decoration: none;
}

.post-footer h4 a:hover {
  text-decoration: none;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 140px;
}

.post-footer .share a {
  font-size: 1.8rem;
  display: inline-block;
  margin: 1rem 1.6rem 1.6rem 0;
  color: #BBC7CC;
  text-decoration: none;
}

.post-footer .share .icon-twitter:hover {
  color: #55acee;
}
.post-footer .share .icon-facebook:hover {
  color: #3b5998;
}
.post-footer .share .icon-google-plus:hover {
  color: #dd4b39;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
  opacity: 0;
  display: block;
  width: 53px;
  padding: 4px 8px 5px 8px;
  position:absolute;
  top: -23px;
  left: -21px;
  color: rgba(255,255,255,0.9);
  font-size: 1.1rem;
  line-height: 1em;
  text-align: center;
  background: #50585D;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
  content: " ";
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #50585D transparent;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  z-index: 220;
  width: 0;
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
  opacity: 1;
  top: -33px;
}
