.search-overlay{
    display:none;
}
.block {
    position: fixed;
    top: 0;
    right: 0;
    bottom:0 ;
    left: 0;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    border: #a0a0a0 solid 1px;
    margin: 0;
    z-index: 1000;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0;
    /* Adjusts for spacing */
    /* For visualization
    background: #808080; width: 5px;
    */
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 10px 15px;
    color: #FFF;
    border: none;
    background: transparent;
}

.search-box {
    position: relative;
    width: 100%;
    margin: 0;
}

.search-form {
    height: 4em;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
}

.search-field {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}

.search-box input[type="text"] {
    width: 90%;
    padding: 15px;
    color: #333;
    outline: none;
    font-size: 1.4em;
}

.close-btn{
    position: fixed;
    top: 1em;
    right: 1em;
}
.close-btn:hover{
    cursor: pointer;
}

p.search-results-number {
    text-align: center;
}
section.search-results {
    text-align: left;
}

p.search-description {
    color: var(--whitegrey);
}